<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.blog.mapper.ArticleMapper">

    <resultMap type="com.rxh.blog.entity.Article" id="ArticleMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="abstractTxt" column="abstract_txt" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="authorId" column="author_id" jdbcType="VARCHAR"/>
        <result property="enclosure" column="enclosure" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="OTHER"/>
        <result property="updateTime" column="update_time" jdbcType="OTHER"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ArticleMap">
        select id,
               title,
               abstract_txt,
               content,
               author,
               author_id,
               enclosure,
               create_time,
               update_time,
               delete_status
        from blog.article
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ArticleMap">
        select id,
               title,
               abstract_txt,
               content,
               author,
               author_id,
               enclosure,
               create_time,
               update_time,
               delete_status
        from blog.article limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ArticleMap">
        select
        id, title, abstract_txt, content, author, author_id, enclosure, create_time, update_time, delete_status
        from blog.article
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="abstractTxt != null and abstractTxt != ''">
                and abstract_txt = #{abstractTxt}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
            <if test="authorId != null and authorId != ''">
                and author_id = #{authorId}
            </if>
            <if test="enclosure != null and enclosure != ''">
                and enclosure = #{enclosure}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                and delete_status = #{deleteStatus}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" useGeneratedKeys="true">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select REPLACE(UUID(),'-','')
        </selectKey>
        insert into blog.article(id,title, abstract_txt, content, author, author_id, enclosure, create_time,
        update_time, delete_status)
        values (#{id},#{title}, #{abstractTxt}, #{content}, #{author}, #{authorId}, #{enclosure}, #{createTime},
        #{updateTime}, #{deleteStatus})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into blog.article(title, abstract_txt, content, author, author_id, enclosure, create_time, update_time,
        delete_status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.abstractTxt}, #{entity.content}, #{entity.author}, #{entity.authorId},
            #{entity.enclosure}, #{entity.createTime}, #{entity.updateTime}, #{entity.deleteStatus})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into blog.article(title, abstract_txt, content, author, author_id, enclosure, create_time, update_time,
        delete_status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.abstractTxt}, #{entity.content}, #{entity.author}, #{entity.authorId},
            #{entity.enclosure}, #{entity.createTime}, #{entity.updateTime}, #{entity.deleteStatus})
        </foreach>
        on duplicate key update
        title = values(title) , abstract_txt = values(abstract_txt) , content = values(content) , author =
        values(author) , author_id = values(author_id) , enclosure = values(enclosure) , create_time =
        values(create_time) , update_time = values(update_time) , delete_status = values(delete_status)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update blog.article
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="abstractTxt != null and abstractTxt != ''">
                abstract_txt = #{abstractTxt},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="authorId != null and authorId != ''">
                author_id = #{authorId},
            </if>
            <if test="enclosure != null and enclosure != ''">
                enclosure = #{enclosure},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                delete_status = #{deleteStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--设置置顶-->
    <update id="setTop">
        UPDATE article c1,article c2
        SET c1.top_status = '1', c2.`top_status`='0'
        WHERE c2.`top_status` = '1' AND c1.`id` = #{id}
    </update>
    <select id="getTop" resultMap="ArticleMap">
        SELECT * FROM article WHERE top_status = '1' AND author_id = #{userID}
    </select>
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from blog.article
        where id = #{id}
    </delete>

</mapper>