<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.blog.mapper.LabelsMapper">

    <resultMap type="com.rxh.blog.entity.Labels" id="LabelsMap">
        <result property="labelId" column="label_id" jdbcType="VARCHAR"/>
        <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
        <result property="labelAlias" column="label_alias" jdbcType="VARCHAR"/>
        <result property="labelDescription" column="label_description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="LabelsMap">
        select label_id,
               label_name,
               label_alias,
               label_description,
               create_time,
               update_time,
               status
        from blog.labels
        where label_id = #{labelId}
    </select>

    <select id="findByArticleId" resultMap="LabelsMap">
        SELECT *
        FROM labels
        WHERE labels.`label_id` IN
              (
                  SELECT set_article_label.`label_id`
                  FROM set_article_label
                  WHERE set_article_label.`article_id` = #{id}
              )
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="LabelsMap">
        select
        label_id, label_name, label_alias, label_description, create_time, update_time, status
        from blog.labels
        <where>
            <if test="labelId != null and labelId != ''">
                and label_id = #{labelId}
            </if>
            <if test="labelName != null and labelName != ''">
                and label_name = #{labelName}
            </if>
            <if test="labelAlias != null and labelAlias != ''">
                and label_alias = #{labelAlias}
            </if>
            <if test="labelDescription != null and labelDescription != ''">
                and label_description = #{labelDescription}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="labelId">
        <selectKey keyProperty="labelId" resultType="java.lang.String" order="BEFORE">
            select REPLACE(UUID(),'-','')
        </selectKey>
        insert into blog.labels(label_id, label_name, label_alias, label_description, create_time, update_time, status)
        values (#{labelId}, #{labelName}, #{labelAlias}, #{labelDescription}, #{createTime}, #{updateTime}, #{status})
    </insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="labelId">
        <selectKey keyProperty="labelId" resultType="java.lang.String" order="BEFORE">
            select REPLACE(UUID(),'-','')
        </selectKey>
        insert into blog.labels(label_id, label_name, label_alias, label_description, create_time, update_time, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.labelId}, #{entity.labelName}, #{entity.labelAlias}, #{entity.labelDescription},
            #{entity.createTime}, #{entity.updateTime}, #{entity.status})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update blog.labels
        <set>
            <if test="labelName != null and labelName != ''">
                label_name = #{labelName},
            </if>
            <if test="labelAlias != null and labelAlias != ''">
                label_alias = #{labelAlias},
            </if>
            <if test="labelDescription != null and labelDescription != ''">
                label_description = #{labelDescription},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where label_id = #{labelId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from blog.labels
        where label_id = #{labelId}
    </delete>
    <!--逻辑删除删除-->
    <update id="deleteLogic">
        UPDATE blog.labels
        SET `status`='0'
        WHERE `id` = #{id}
    </update>
</mapper>