<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="order by dede58.com/"/>
    <title>个人中心模板</title>
    <!--    <link href="/static/blog/style/common.css" type="text/css" rel="stylesheet">-->
    <link href="/static/blog/style/user.css" type="text/css" rel="stylesheet">
    <link href="/static/blog/style/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--    <link href="/static/blog/style/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">-->
    <!--    <link href="/static/blog/style/edit/css/wangEditor.min.css" type="text/css" rel="stylesheet">-->
    <link rel="shortcut icon" href="/static/blog/images/favicon.ico" type="image/x-icon"/>
    <script src="/static/blog/js/jquery.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/static/fonts/fontawesome-webfont/css/font-awesome.css">
    <script type="text/javascript" src="/static/js/clipborad.min.js"></script>
<body>
<!--导航部分-->
<!--top begin-->
<div id="headerTmp"></div>
<!--导航部分-->


<style>
    .center{
        position: absolute;
        width: 300px;
        height: 300px;
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%,-50%);*/
    }
    div{
     font-size: 15px;
    }
</style>
<!--<div class="container user" style="background-color: #00F7DE">-->
    <div class="user-cont clearfix col-md-6 col-md-offset-3 "  style="margin-top: 5% ">
        <div class="row user-right"  style="height: 600px">
            <div class="col-md-offset-1 col-md-10">
                <a href="./userInfo" class="row">< 管理文章</a>
                <ol class="breadcrumb" style="position: relative;height: 300px">
                    <h4>[[${article.title}]]</h4>
                    <div class="text-muted" style="text-indent:2em;">[[${article.abstractTxt}]]</div><br>
                    <span style="position: absolute;right: 20px;bottom: 10px">仗剑天涯，从你的摘要开始</span>
                </ol>
                <div class="row" style="margin-top: 10%">
                    <a href="#" class="col-md-3 col-md-offset-2" style="text-align: right">
                        <i class="fa fa-check-square" aria-hidden="true" style="color: #00CC00"></i>
                        发布成功并查看文章></a>
<!--                    <a href="#" class="col-md-2 copy" id="copy" data-clipboard-text="我是100美元">复制金额</a>-->
                    <a href="javaScript:void(0)" id="copy" class="col-md-2 copy" data-clipboard-text=[[${article.id}]]>复制链接</a>
<!--                    <span class="copy" data-clipboard-text="https://baidu.com">复制地址</span>-->

<!--                    -->
                    <a href="/blog/addArticle" class="col-md-2">再写一篇</a>
                </div>

                <div class="row" style="margin-top: 10%">
                    <span class="col-md-2 col-sm-offset-1" style="text-align: right;font-size: 20px">分享到: </span>
                    <div class="col-md-3" style="text-align: left;margin-top: 5px;margin-left: -20px">
                        <a href="#" class="col-sm-3"><i class="fa fa-weixin" style="color: green;font-size: 20px" aria-hidden="true"></i></a>
                        <a href="#" class="col-sm-3"><i class="fa fa-qq" style="color: deepskyblue;font-size: 20px" aria-hidden="true"></i></a>
                        <a href="#" class="col-sm-3"> <i class="fa fa-weibo" style="color: red;font-size: 20px" aria-hidden="true"></i></a>
                    </div>
                   <a href="#" class="col-md-3" style=";font-size: 20px"><i class="fa fa-share-alt" aria-hidden="true" style=";font-size: 20px"></i> 分享海报</a>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
<!--    <ul class="container">-->
<!--        <li class="footer-ss"><a href="">在线反馈</a></li>-->
<!--        <li class="footer-ss"><a href="">帮助中心</a></li>-->
<!--        <li>Copyright © 2020 备案号:赣ICP备XXX号-1.</li>-->
<!--    </ul>-->
<!--</nav>-->

<!--<script src="/static/blog/js/load.js" type="text/javascript"></script>-->
</head>
<script type="text/javascript">
    $(function(){
        console.log("[[${article}]]")

        var clipboard = new Clipboard('.copy');
        clipboard.on('success', function(e) {
            console.log();
            alert("复制成功！链接地址: "+e.text)
        });
        clipboard.on('error', function(e) {
            document.querySelector('.copy');
            console.log("复制成功！链接地址: ",e.text);
            alert("复制成功！链接地址: "+e.text)
        });
    });
</script>
</body>
</html>