<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="css/m.css" rel="stylesheet">-->
    <script src="/static/blog/js/jquery-1.8.3.min.js"></script>
    <!--<script src="/static/blog/js/comm.js"></script>-->
    <!--[if lt IE 9]>
    <script src="/static/blog/js/modernizr.js"></script>
    <![endif]-->
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <link href="/static/layui/css/admin.css" rel="stylesheet">
    <script src="/static/layui/layui.all.js"></script>

</head>
<body>
<style>

</style>
<!--top begin-->
<div id="headerTmp">
</div>
<!--top end-->
<article>
    <!--lbox begin-->
    <div class="layui-card">
        <input type="hidden" id="id">
        <div class="layui-card-header">分类专栏</div>
        <div class="layui-card-body" >
            <div class="layui-row">
                <div class="layui-col-md2" >
                    <ul class="layui-timeline"  id="categorys">
                        <!--                    <li class="layui-timeline-item">-->
                        <!--                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis layui-icon-loading-1"></i>-->
                        <!--                        <div class="layui-timeline-content layui-text">-->
                        <!--                            <div class="layui-timeline-title">更久前，轮子时代。维护几个独立组件：layer等</div>-->
                        <!--                        </div>-->
                        <!--                    </li>-->
                    </ul>
                </div>
              <div class="layui-col-md10" id="category_load">
                  <ul class="layui-timeline" id="category_articles">
                      <div class="layui-fluid">
                          <div class="layadmin-tips" style="margin-top: 120px">
                              <i class="layui-icon" face="" style="font-size: 270px">&#xe664;</i>
                              <div class="layui-text" style="font-size: 20px;">
                                  好像没有文章哦
                              </div>
                          </div>
                      </div>
                  </ul>
              </div>

            </div>
        </div>
    </div>
</article>
<!--<script type="text/javascript" src="/static/blog/js/load.js"></script>-->

</body>
<script>
    $(function () {
        let length = $("#categorys").children().length;

        var flow = layui.flow;

        flow.load({
            elem: '#categorys', //流加载容器
            isAuto:true,
            done: function(page, next){ //执行下一页的回调
                //模拟数据插入
                setTimeout(function(){
                    // var lis = [];
                    // for(var i = 0; i < 8; i++){
                    //     lis.push('<li>'+ ( (page-1)*8 + i + 1 ) +'</li>')
                    // }
                    let b = $("#categorys").children("li").length>0;
                    console.log(">>>>>>>>>>>>>",b)
                    $.get("/blog/categories", {
                        isFirst: $("#categorys").children("li").length>0 ? false : true
                    }, function (result) {
                        // $("#categorys").html(result)
                        next(result, page < 10);
                    })
                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                   //假设总页数为 10
                }, 500);
            }
        });
        let child = $("#categorys").children()[0];
        $(child).find("i").click()

        flow.load({
            elem: '#category_load', //流加载容器
            isAuto:true,
            done: function(page, next){ //执行下一页的回调
                //模拟数据插入
                setTimeout(function(){
                    // var lis = [];
                    // for(var i = 0; i < 8; i++){
                    //     lis.push('<li>'+ ( (page-1)*8 + i + 1 ) +'</li>')
                    // }
                    let b = $("#categorys").children("li").length>0;
                    console.log(">>>>>>>>>>>>>",b)
                    $.get("/blog/categoryArticles", {
                        isFirst: $("#categorys").children().length > 0 ? false : true,
                        category: $("#id").val()
                    }, function (result) {
                        // if(result != ""){
                        console.log(result)
                        next(result, page < 10);

                    })
                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    //假设总页数为 10
                }, 500);
            }
        });




        // $.get("/blog/categories", {
        //     isFirst: length > 0 ? false : true
        // }, function (result) {
        //     $("#categorys").html(result)
        //     let child = $("#categorys").children()[0];
        //     $(child).find("i").click()
        // })
    })

    function getArticle(id) {
        $("#id").val(id)
        $.get("/blog/categoryArticles", {
            isFirst: $("#categorys").children().length > 0 ? false : true,
            category: id
        }, function (result) {
            $("#category_articles").html(result)
        })
    }

</script>
</html>
