<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="order by dede58.com/"/>
    <title>个人中心模板</title>
    <link href="/static/blog/style/common.css" type="text/css" rel="stylesheet">
    <link href="/static/blog/style/user.css" type="text/css" rel="stylesheet">
    <link href="/static/blog/style/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/blog/style/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">

    <!--    <link href="/static/blog/css/base.css" rel="stylesheet">-->
    <!--    <link href="/static/blog/css/m.css" rel="stylesheet">-->
    <!--    <script src="/static/blog/js/comm.js"></script>-->
    <link rel="shortcut icon" href="/static/blog/images/favicon.ico" type="image/x-icon"/>

    <!--[if lt IE 9]>
    <script src="/static/blog/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<!--top begin-->
<div id="headerTmp">
</div>
<!--top end-->
<div class="container user">
    <div class="position clearfix"><a href="./index">首页</a> / 个人中心</div>
    <div class="user-cont clearfix">
        <div class="col-md-4 user-left">
            <div class="user-left-n clearfix">
                <h6>PROMULGATOR</h6>
                <a href="#" class="user-headimg f"><img src="/static/blog/images/hm.jpg"></a>
                <div class="user-name f">
                    <h4>笨笨熊喜欢吃饼干</h4>
                    <p>hello,world</p>
                </div>
            </div>
            <div class="user-left-n clearfix">
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-user-secret"></i>&nbsp;第 1 位会员
                    </li>
                    <a class="list-group-item" href="">
                        <span class="badge red">0</span>
                        <i class="fa fa-book"></i>&nbsp;我的文章
                    </a>
                    <a class="list-group-item" href="">
                        <span class="badge">0</span>
                        <i class="fa fa-heart"></i>&nbsp;我收藏的文章
                    </a>
                    <li class="list-group-item" href="">
                        <span class="badge">0</span>
                        <i class="fa fa-star"></i>&nbsp;关注我的人数
                    </li>
                </ul>
                <a href="./addArticle" class="btn btn-success infos"><i class="fa fa-pencil"></i>&nbsp;开始写作</a>
                <a href="#" class="btn btn-info"><i class="fa fa-cogs"></i>&nbsp;修改个人资料</a>
            </div>
            <div class="user-left-n clearfix">
                <div class="alert alert-warning">
                    <i class="fa fa-lightbulb-o"></i>&nbsp;修改个人资料功能未完善<br>
                    <i class="fa fa-lightbulb-o"></i>&nbsp;暂时不能查看关注我的用户<br>
                    <i class="fa fa-lightbulb-o"></i>&nbsp;暂时不能修改个人头像<br><br>
                    <p>请用户耐心等待技术人员的修复，一旦修复完成我们将发送邮件到您的注册邮箱</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 user-right">
            <div class="user-right-n clearfix">
                <ul id="right-tab" class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#myArticle" id="home-tab1" data-toggle="tab"><i class="fa fa-book"></i>&nbsp;我的文章</a>
                    </li>
                    <li role="presentation">
                        <a href="#myCollection" id="home-tab2" data-toggle="tab"><i class="fa fa-star"></i>&nbsp;我收藏的文章</a>
                    </li>
                    <li role="presentation">
                        <a href="#qd" id="home-tab3" data-toggle="tab"><i class="fa fa-edit"></i>&nbsp;签到</a>
                    </li>
                </ul>

                <div class="user-right-n clearfix tab-content">
                    <div role="tabpanel" class="tab-pane active" id="myArticle">
                        <div id="articleList">

                        </div>
                        <!--                        <div class="art-row">-->
                        <!--                            <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span>笨笨熊喜欢吃饼干</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span>2016-7-17 14:24</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>-->
                        <!--                            <h4><a href="" class="title">CSS3 塞贝尔曲线用法详解</a></h4>-->
                        <!--                            <a href="" class="author"><i class="fa fa-comment"></i>&nbsp;评论:&nbsp;<span>125</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-eye"></i>&nbsp;阅读:&nbsp;<span>151</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-heart"></i>&nbsp;收藏:&nbsp;<span>151</span></a>-->
                        <!--                        </div>-->

                        <!--                        <div class="art-row">-->
                        <!--                            <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span>笨笨熊喜欢吃饼干</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span>2016-7-17 14:24</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>-->
                        <!--                            <h4><a href="" class="title">CSS3 塞贝尔曲线用法详解</a></h4>-->
                        <!--                            <a href="" class="author"><i class="fa fa-comment"></i>&nbsp;评论:&nbsp;<span>125</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-eye"></i>&nbsp;阅读:&nbsp;<span>151</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-heart"></i>&nbsp;收藏:&nbsp;<span>151</span></a>-->
                        <!--                        </div>-->

                        <!--                        <div class="art-row">-->
                        <!--                            <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span>笨笨熊喜欢吃饼干</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span>2016-7-17 14:24</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>-->
                        <!--                            <h4><a href="" class="title">CSS3 塞贝尔曲线用法详解</a></h4>-->
                        <!--                            <a href="" class="author"><i class="fa fa-comment"></i>&nbsp;评论:&nbsp;<span>125</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-eye"></i>&nbsp;阅读:&nbsp;<span>151</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-heart"></i>&nbsp;收藏:&nbsp;<span>151</span></a>-->
                        <!--                        </div>-->

                        <!--                        <div class="art-row">-->
                        <!--                            <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span>笨笨熊喜欢吃饼干</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span>2016-7-17 14:24</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>-->
                        <!--                            <h4><a href="" class="title">CSS3 塞贝尔曲线用法详解</a></h4>-->
                        <!--                            <a href="" class="author"><i class="fa fa-comment"></i>&nbsp;评论:&nbsp;<span>125</span></a>-->
                        <!--                            <a href="" class="time"><i class="fa fa-eye"></i>&nbsp;阅读:&nbsp;<span>151</span></a> <a-->
                        <!--                                href="" class="time"><i class="fa fa-heart"></i>&nbsp;收藏:&nbsp;<span>151</span></a>-->
                        <!--                        </div>-->
                        <div id="demo2">

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="myCollection">
                        <div class="art-row">
                            <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span>笨笨熊喜欢吃饼干</span></a> <a
                                href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span>2016-7-17 14:24</span></a>
                            <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>
                            <h4><a href="" class="title">你好，世界！我的理想是能够在你的怀抱沉睡</a></h4>
                            <a href="" class="author"><i class="fa fa-comment"></i>&nbsp;评论:&nbsp;<span>125</span></a>
                            <a href="" class="time"><i class="fa fa-eye"></i>&nbsp;阅读:&nbsp;<span>151</span></a> <a
                                href="" class="time"><i class="fa fa-heart"></i>&nbsp;收藏:&nbsp;<span>151</span></a>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="qd">
                        <div class="alert alert-info"><i class="fa fa-smile-o"></i>&nbsp;签到功能暂未上线，请大家耐心等待。一旦签到功能上线，我们将发送通知邮件到您的注册邮箱
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/blog/js/jquery.min.js" type="application/javascript"></script>
<script src="/static/blog/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/blog/js/common.js" type="text/javascript"></script>
<script src="/static/blog/js/load.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<link rel="stylesheet" href="/static/layui/css/layui.css">
<script>
    // var scrollTop = 0;
    // $(window).scroll(function () {
    //     var nowScrollTop = $(document).scrollTop();
    //     if (nowScrollTop > scrollTop) {
    //         $('.wrap').addClass('hide-wrap');
    //     } else {
    //         $('.wrap').removeClass('hide-wrap');
    //     }
    //     scrollTop = nowScrollTop;
    // });

    $('.nav-tabs li a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });

    $(function () {
        var laypage = layui.laypage;
        articleList(1, 5)

        function articleList(curPage, size) {
            $.get("/article", {
                curPage: curPage,
                size: size
            }, function (data) {
                console.log(data)
                creadeHtml("articleList", data.data.records)
                setPage(data, curPage, size)
            })
        }

        function setPage(data, curPage, size) {
            var i = 0;
            laypage.render({
                elem: 'demo2'
                , count: data.data.total
                , limit: size
                // , limits: [3,5,8]
                , theme: '#1E9FFF'
                , curr: curPage  //当前页
                ,prev : "<"
                ,next : ">"
                ,layout:["prev","page","next","count","skip"] //分页的组件在页面放置的先后顺序
                , groups: 2
                , jump: function (obj, first) {
                    console.log("first>>>", first)
                    console.log("obj>>>", obj)
                    if (!first) {
                        if (i == 0) {
                            articleList(obj.curr, obj.limit)
                        }
                        i += 1;
                        console.log("i>>>>>>>>", i)
                        // console.log(",moinonoinda>>>>>>>>>>")
                    }
                }
            });
        }
        function jump(id) {
            console.log(id)
            window.location.href = "/articleInfo?id=" + id
        }
        function creadeHtml(id, data) {
            let html = ""
            $.each(data, function (index, item) {
                html += " <div class=\"art-row\">\n" +
                    "     <a href=\"articleInfo\" class=\"author\"><i class=\"fa fa-user\"></i>&nbsp;<span>" + item.author + "</span></a> <a\n" +
                    "     href=\"\" class=\"time\"><i class=\"fa fa-clock-o\"></i>&nbsp;<span>" + item.createTime + "</span></a>\n" +
                    "     <a href=\"\" class=\"time\"><i class=\"fa fa-list-ul\"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>\n" +
                    "      <h4><a  href='./articleInfo?id="+item.id+"' class=\"title\">" + item.title + "</a></h4>\n" +
                    "     <a href=\"\" class=\"author\"><i class=\"fa fa-comment\"></i>&nbsp;评论:&nbsp;<span>" + item.comments + "</span></a>\n" +
                    "     <a href=\"\" class=\"time\"><i class=\"fa fa-eye\"></i>&nbsp;阅读:&nbsp;<span>" + item.readVolume + "</span></a> <a\n" +
                    "     href=\"\" class=\"time\"><i class=\"fa fa-heart\"></i>&nbsp;收藏:&nbsp;<span>" + item.collection + "</span></a>\n" +
                    "</div>";
            })

            $("#" + id).html(html);
            // $(html).appendTo($(id))
        }



    })
</script>
</body>
</html>