<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/img.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <!--    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/assembly.js"></script>
    <script src="../static/layui/layui.js"></script>
</head>
<style type="text/css">
    .img-wrap {
        position: relative;
        display: inline-block;
        /*border: 1px red solid;*/
        font-size: 0;
    }

    .img-wrap .close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        /*background-color: #FFF;*/
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        /*opacity: .2;*/
        text-align: center;
        font-size: 22px;
        line-height: 10px;
        border-radius: 50%;
        background: url("./static/images/cole.png") no-repeat;
        background-size: cover;
        background-position: center;
        display: inline-block;
        width: 50px;
        height: 60px;
        opacity: 1;
    }

    /*.img-wrap:hover .close {*/
    /*    opacity: 1;*/
    /*}*/
</style>
<script>

</script>
<body>
<div>
    <div class="layui-row" id="header">
<!--        <ul class="layui-nav ">-->
<!--            <li class="layui-nav-item layui-col-lg-offset1">-->
<!--                <a href="">最新活动</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item layui-this">-->
<!--                <a href="javascript:;">产品</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">选项1</a></dd>-->
<!--                    <dd><a href="">选项2</a></dd>-->
<!--                    <dd><a href="">选项3</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li class="layui-nav-item"><a href="">大数据</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">分类</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd class="layui-this"><a href="opencv/index">openCV视觉</a></dd>-->
<!--                    <dd><a href="backstage/index">后台模版</a></dd>-->
<!--                    <dd><a href="blog/index">博客</a></dd>-->
<!--                    <dd><a href="shopping/index">电商平台</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li class="layui-nav-item"><a href="template/index">组件</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <div class="layui-nav-item">-->
<!--                    <input type="text" name="username" lay-verify="required" placeholder="请输入搜索内容" autocomplete="off"-->
<!--                           class="layui-input" id="search">-->

<!--                </div>-->
<!--                <span style="margin-left: 5px" onclick="sendSearch()"><i class="layui-icon layui-icon-search"-->
<!--                                                                         style="float: right;font-size: 30px;;"></i></span>-->
<!--            </li>-->


<!--            <li class="layui-nav-item layui-col-md-offset3">-->
<!--                <a href="">控制台<span class="layui-badge">9</span></a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="">个人中心<span class="layui-badge-dot"></span></a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item" lay-unselect="">-->
<!--                <a href="userInfo"><img src="//t.cn/RCzsdCq" class="layui-nav-img" ><span id="name"></span></a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="javascript:;">修改信息</a></dd>-->
<!--                    <dd><a href="javascript:;">安全管理</a></dd>-->
<!--                    <dd><a href="javascript:;" id="logout">退出</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--        </ul>-->
    </div>

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <input id="length" style="" type="hidden">
                    <div class="layui-card-header">滑动模块验证码</div>
                    <div class="layui-card-body">
                        <div class="layui-input-block">
                            <img src="" class="undefined" width="400" height="200" id="ig1">
                            <div class="refreshIcon"></div>
                            <img class="block" style="left: 0px;" id="ig2">
                            <div class="sliderContainer">
                                <div class="sliderMask" style="width: 0px;">
                                    <div class="slider" style="left: 0px;"><span class="sliderIcon"></span></div>
                                </div>
                                <span class="sliderText">向右滑动填充拼图</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">模板之家下载</div>
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label">本地路径</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" id="basePath" autocomplete="off"
                                       placeholder="请输入标题" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">普通文本域</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea" id="url"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">返回结果</label>
                            <div class="layui-input-block">
                                <!--                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">-->
                                <div class="layui-progress layui-progress-big" lay-showpercent="true"
                                     lay-filter="loading">
                                    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn layui-btn-normal" data-type="loading" id="load">
                                    提交
                                </button>
                                <button type="button" class="layui-btn layui-btn-normal" id="load1">结束</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">标题</div>
                    <div class="layui-card-body">
                        内容
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Hello Word!!! </h1>
    <div>
        <!--        用户:<a id="name" href="userInfo"></a>-->
        <!--        <button id="logout">退出</button>-->
    </div>
    <!--    &lt;!&ndash;    <div>&ndash;&gt;-->
    <!--    &lt;!&ndash;        <span>分类:</span>&ndash;&gt;-->
    <!--    &lt;!&ndash;        <a href="shopping/index" class="layui-btn layui-btn-normal">商城</a>&ndash;&gt;-->
    <!--    &lt;!&ndash;        <a href="opencv/index" class="layui-btn layui-btn-normal">openCV视觉</a>&ndash;&gt;-->
    <!--    &lt;!&ndash;    </div>&ndash;&gt;-->
    <!--    搜索:  <input type="button" onclick="sendSearch()" value="搜索">-->
    <!--    <div id="text"></div>-->



</div>
</body>
<script src="../static/js/load.js"></script>

<!--<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>-->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $("#header").load("../header")
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            layer.msg(elem.text());
        });


        $("#load").on("click", function () {
            var DISABLED = 'layui-btn-disabled';
            if(othis.hasClass(DISABLED)) return;

            var n = 0;
            var timer = setInterval(function () {

                element.progress("loading", (n++) + "%");
                if (n > 99) {
                    element.progress("loading", "99%");
                }
            }, 300 + Math.random() * 1000)
            othis.addClass(DISABLED);

            var url = "reptile/load";//百度
            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    url: $("#url").val(),
                    savePath: $("#basePath").val()
                },
                dataType: 'JSONP',
                async: false,
                cache: true,  //是否缓存 可以为false
                success: function (data) {
                    alert(JSON.stringify(data));
                    clearInterval(timer)
                    element.progress("loading", "100%");
                    othis.removeClass(DISABLED);
                },
                error: function (data) {
                    //  alert(JSON.stringify(data));
                }
            });
        })
    });
</script>
</html>