<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.onlineStore.mapper.BrowsingHistoryMapper">

    <resultMap type="com.rxh.onlineStore.entity.BrowsingHistory" id="BrowsingHistoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="categoryOne" column="category_one" jdbcType="INTEGER"/>
        <result property="categoryTwo" column="category_two" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="stayTime" column="stay_time" jdbcType="NUMERIC"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BrowsingHistoryMap">
        select
          id, user_id, url, category_one, category_two, title, stay_time
        from onlinestore.a_browsing_history
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BrowsingHistoryMap">
        select
          id, user_id, url, category_one, category_two, title, stay_time
        from onlinestore.a_browsing_history
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BrowsingHistoryMap">
        select
        id, user_id, url, category_one, category_two, title, stay_time
        from onlinestore.a_browsing_history
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="categoryOne != null">
                and category_one = #{categoryOne}
            </if>
            <if test="categoryTwo != null">
                and category_two = #{categoryTwo}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="stayTime != null">
                and stay_time = #{stayTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into onlinestore.a_browsing_history(user_id, url, category_one, category_two, title, stay_time)
        values (#{userId}, #{url}, #{categoryOne}, #{categoryTwo}, #{title}, #{stayTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into onlinestore.a_browsing_history(user_id, url, category_one, category_two, title, stay_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.url}, #{entity.categoryOne}, #{entity.categoryTwo}, #{entity.title},
            #{entity.stayTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into onlinestore.a_browsing_history(user_id, url, category_one, category_two, title, stay_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.url}, #{entity.categoryOne}, #{entity.categoryTwo}, #{entity.title},
            #{entity.stayTime})
        </foreach>
        on duplicate key update
        user_id = values(user_id) , url = values(url) , category_one = values(category_one) , category_two =
        values(category_two) , title = values(title) , stay_time = values(stay_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update onlinestore.a_browsing_history
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="categoryOne != null">
                category_one = #{categoryOne},
            </if>
            <if test="categoryTwo != null">
                category_two = #{categoryTwo},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="stayTime != null">
                stay_time = #{stayTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from onlinestore.a_browsing_history where id = #{id}
    </delete>

</mapper>