<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.onlineStore.mapper.ProductMapper">

    <resultMap type="com.rxh.onlineStore.entity.Product" id="ProductMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="discount" column="discount" jdbcType="NUMERIC"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ProductMap">
        select
          id, name, price, discount, category_id
        from onlinestore.a_product
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ProductMap">
        select
          id, name, price, discount, category_id
        from onlinestore.a_product
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ProductMap">
        select
        id, name, price, discount, category_id
        from onlinestore.a_product
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="discount != null">
                and discount = #{discount}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into onlinestore.a_product(name, price, discount, category_id)
        values (#{name}, #{price}, #{discount}, #{categoryId})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into onlinestore.a_product(name, price, discount, category_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.price}, #{entity.discount}, #{entity.categoryId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into onlinestore.a_product(name, price, discount, category_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.price}, #{entity.discount}, #{entity.categoryId})
        </foreach>
        on duplicate key update
        name = values(name) , price = values(price) , discount = values(discount) , category_id = values(category_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update onlinestore.a_product
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from onlinestore.a_product where id = #{id}
    </delete>

</mapper>