<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxh.wechat.mapper.SysUserMapper">

    <resultMap id="SysUserMap" type="com.rxh.wechat.common.shiro.entity.SysUser">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleteStatus" column="delete_status" jdbcType="VARCHAR"/>
        <collection property="sysRoles" ofType="com.rxh.wechat.common.shiro.entity.SysRole">
            <result property="id" column="rid" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteStatus" column="delete_status" jdbcType="VARCHAR"/>
            <collection property="sysPermissions" ofType="com.rxh.wechat.common.shiro.entity.SysPermission"  >
                <id property="id" column="pid" jdbcType="INTEGER"/>
                <result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
                <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
                <result property="permissionCode" column="permission_code" jdbcType="VARCHAR"/>
                <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>


    <select id="queryByName" resultMap="SysUserMap" parameterType="string">
        SELECT
          u.*,
          sr.id rid, sr.role_name role_name,sr.create_time create_time,sr.update_time update_time,sr.delete_status delete_status,
          sp.id pid,sp.menu_code menu_code,sp.menu_name menu_name,sp.permission_name permission_name,sp.permission_code permission_code
        FROM sys_user u

        LEFT JOIN sys_role sr ON u.`role_id` = sr.`id`
        LEFT JOIN sys_role_permission srp ON sr.`id` = srp.`role_id`
        LEFT JOIN sys_permission sp ON sp.`id` = srp.`permission_id`
        WHERE u.username = #{name}

    </select>

</mapper>